<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="micfort.GHL.PCL" version="0.123" targetFramework="net40" />
  <package id="micfort.GHL.Windows" version="0.123" targetFramework="net40" />
  <package id="OpenTK" version="1.1.1508.5724" targetFramework="net40" />
  <package id="OpenTK.GLControl" version="1.1.1508.5724" targetFramework="net40" />
  <package id="sharpcompress" version="0.10.3" targetFramework="net40" />
</packages>